@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  background: linear-gradient(-45deg, #0f2027, #203a43, #2c5364, #1a1a2e);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  font-family: "Inter", sans-serif !important;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}